.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.shoppingListConatiner {
    margin-top: 20px;
}
.form-control {
    max-width: 500px;
}
.productContainer {
    margin:20px;
}
.productName {
background-color: antiquewhite;
padding: 10px;
cursor: pointer;
user-select: none;
display: inline;
}

.purchased {
    text-decoration: line-through;
}

.fa-trash-alt {
    color: red;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}